{% load dict %}
<div style="width:800px;height:400px; margin-top:30px;" id="chart">
</div>
<script language="javascript">
	
	function object_list(a){
  		var o = {};
  		for(var i=0;i<a.length;i++){
    		o[a[i]]='';
		}
  		return o;
	}
	
	Date.prototype.getWeek = function() {
		var onejan = new Date(this.getFullYear(),0,1);
		return Math.ceil((((this - onejan) / 86400000) + onejan.getDay()+1)/7);
	}
	
	function timespan_format(timestamp){
		var newDate = new Date();
		newDate.setTime(timestamp);
		
	{% if timespan == 'day' %}
		return Highcharts.dateFormat('%e. %b, %Y', newDate);
	{% endif %}	
	{% if timespan == 'week' %}
		return 'Week '+newDate.getWeek();
	{% endif %}
	{% if timespan == 'month' %}
		return Highcharts.dateFormat('%b, %Y', newDate);
	{% endif %}
	{% if timespan == 'quarter' %}
		var month = Highcharts.dateFormat('%b', newDate);
		var yr = Highcharts.dateFormat('%Y', newDate);
		if(month in object_list(['Jan', 'Feb', 'Mar'])){
			return '1st Quarter, '+yr;
		}else if(month in object_list(['Apr', 'May', 'Jun'])){
			return '2nd Quarter, '+yr;
		}else if (month in object_list(['Jul', 'Aug', 'Sept'])){
			return '3rd Quarter, '+yr;
		}else{
			return '4th Quarter, '+yr;
		}
	{% endif %}
	}
	
    var options = {
        chart: {
            renderTo: 'chart',
            defaultSeriesType: 'line',
            marginRight: 130,
            marginBottom: 100,
            borderColor :'#2fc4d6'
        },
        title: {
            text: '{{ chart_title }}',
            x: -20 //center
        },
        subtitle: {
            text: 'From {{ start_date|date:"Y-m-d" }} to {{ end_date|date:"Y-m-d" }}',
            x: -20
        },        
        xAxis: {
            type: 'datetime',
			{% if timespan == 'day' %}
			tickInterval: 24 * 3600 * 1000,
			{% endif %}
			{% if timespan == 'week' %}
			tickInterval: 7 * 24 * 3600 * 1000,
			{% endif %}
			{% if timespan == 'month' %}
			tickInterval: 30 * 24 * 3600 * 1000,
			{% endif %}
			{% if timespan == 'quarter' %}
			tickInterval: 4 * 30 * 24 * 3600 * 1000,
			{% endif %}
            labels: {
                rotation: -45,
                align: 'right',
                style: {
                    font: 'normal 13px Verdana, sans-serif'
                },
				formatter: function() {
					return timespan_format(this.value);
				}
            }
        },
        yAxis: {
            title: {
                text: '{{ yaxis }}'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#2fc4d6'
            }],
            min:0
        },
        tooltip: {
            formatter: function() {
                    return '<b>'+ this.series.name +'</b><br/>'+
                    this.x +': '+ this.y +'{{ label }}';
            }
        },
        credits:false,
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -10,
            y: 100,
            borderWidth: 0
        },
        series:[
            {% for s in series %}
                {'name': '{{ s }}',
                 'data': [
                    {% for time, loc_dict in data|items_sorted %}
                        {% if loc_dict|dict:s %}
                            [Date.UTC({{ time.year }}, {{ time.month }} - 1, {{ time.day }}, 0, 0, 0, 0),{{ loc_dict|dict:s }} {{ data|close_bracket:time }}
                        {% endif %}
                    {% endfor %} 
                 ]},
            {% endfor %}
        ]
    };
    //options.yAxis.max=100;
    options.tooltip.formatter=function (){
         return '<b>'+ this.series.name +'</b><br/>{{ tooltip_prefix }}'+
                    timespan_format(this.x) +': '+ parseInt(this.y) +' {{ label }}';
    }
    chart = new Highcharts.Chart(options);
</script>

