{% for key, value in report.items %}
<tr>
<td><a href="{% if location_id %}../{% endif %}{{ value.location_id }}/">{{ key }}</a></td>
<td>{% if value.total %} {{ value.total }} {% else %} 0 {% endif %}</td>
<td>{% if value.boys %} {{ value.boys }} {% else %} 0 {% endif %}</td>
<td>{% if value.girls %} {{ value.girls }} {% else %} 0 {% endif %}</td>
<td>{% if value.under_28days %} {{ value.under_28days }} {% else %} 0 {% endif %}</td>
<td>{% if value.upto_3months %} {{ value.upto_3months }} {% else %} 0 {% endif %}</td>
<td>{% if value.upto_12months %} {{ value.upto_12months }} {% else %} 0 {% endif %}</td>
<td>{% if value.upto_5years %} {{ value.upto_5years }} {% else %} 0 {% endif %}</td>
</tr>
{% endfor %}