{% for key, value in report.items %}
<tr>
<td>
    {% if value.diff <= 1 %}
             {{ key }}
            {% else %}
            <a href="{% if location_id %}../{% endif %}{{ value.location_id }}/">{{ key }}</a>
       {% endif %}
</td>
<td>{% if value.total %} {{ value.total }} {% else %} 0 {% endif %}</td>
<td>{% if value.bd %} {{ value.bd }} {% else %} 0 {% endif %}</td>
<td>{% if value.ma %} {{ value.ma }} {% else %} 0 {% endif %}</td>
<td>{% if value.tb %} {{ value.tb }} {% else %} 0 {% endif %}</td>
<td>{% if value.ab %} {{ value.ab }} {% else %} 0 {% endif %}</td>
<td>{% if value.af %} {{ value.af }} {% else %} 0 {% endif %}</td>
<td>{% if value.mg %} {{ value.mg }} {% else %} 0 {% endif %}</td>
<td>{% if value.me %} {{ value.me }} {% else %} 0 {% endif %}</td>
<td>{% if value.ch %} {{ value.ch }} {% else %} 0 {% endif %}</td>
<td>{% if value.gw %} {{ value.gw }} {% else %} 0 {% endif %}</td>
<td>{% if value.nt %} {{ value.nt }} {% else %} 0 {% endif %}</td>
<td>{% if value.yf %} {{ value.yf }} {% else %} 0 {% endif %}</td>
<td>{% if value.pl %} {{ value.pl }} {% else %} 0 {% endif %}</td>
<td>{% if value.ra %} {{ value.ra }} {% else %} 0 {% endif %}</td>
<td>{% if value.vf %} {{ value.vf }} {% else %} 0 {% endif %}</td>
<td>{% if value.ei %} {{ value.ei }} {% else %} 0 {% endif %}</td>
</tr>
{% endfor %}