{% for key, value in report.items %}
<tr>
<td><a href="{% if location_id %}../{% endif %}{{ value.location_id }}/">{{ key }}</a></td>
<td>{{ value.total }}</td>
<td>{{ value.bd }}</td>
<td>{{ value.ma }}</td>
<td>{{ value.tb }}</td>
<td>{{ value.ab }}</td>
<td>{{ value.af }}</td>
<td>{{ value.mg }}</td>
<td>{{ value.me }}</td>
<td>{{ value.ch }}</td>
<td>{{ value.gw }}</td>
<td>{{ value.nt }}</td>
<td>{{ value.yf }}</td>
<td>{{ value.pl }}</td>
<td>{{ value.ra }}</td>
<td>{{ value.vf }}</td>
<td>{{ value.ei }}</td>
</tr>
{% endfor %}