{% for key, value in report.items %}
<tr>
    <td>
    {% if value.diff <= 0%}
             {{ key }}
            {% else %}
            <a href="{% if location_id %}../{% endif %}{{ value.location_id }}/">{{ key }}</a>
       {% endif %}
    </td>
    <td>{% if value.total_reports %} {{ value.total_reports }} {% else %} 0 {% endif %}</td>
    <td>{% if value.total %} {{ value.total }} {% else %} 0 {% endif %}</td>
    <td>{% if value.safe_drinking_water %} {{ value.safe_drinking_water }} {% else %} 0 {% endif %}</td>
    <td>{% if value.percentage_safe_drinking_water %} {{ value.percentage_safe_drinking_water }} {% else %} 0 {% endif %}</td>
    <td>{% if value.hand_washing_facilities %} {{ value.hand_washing_facilities }} {% else %} 0 {% endif %}</td>
    <td>{% if value.percentage_hand_washing_facilities %} {{ value.percentage_hand_washing_facilities }} {% else %} 0 {% endif %}</td>
    <td>{% if value.latrines %} {{ value.latrines }} {% else %} 0 {% endif %}</td>
    <td>{% if value.percentage_latrines %} {{ value.percentage_latrines }} {% else %} 0 {% endif %}</td>
    <td>{% if value.ittns %} {{ value.ittns }} {% else %} 0 {% endif %}</td>
    <td>{% if value.percentage_ittns %} {{ value.percentage_ittns }} {% else %} 0 {% endif %}</td>
</tr>
{% endfor %}