{% for key, value in report.items %}
<tr>
<td><a href="{% if location_id %}../{% endif %}{{ value.location_id }}/">{{ key }}</a></td>
<td>{% if value.muac %} {{ value.muac }} {% else %} 0 {% endif %}</td>
<td>{% if value.ma %} {{ value.ma }} {% else %} 0 {% endif %}</td>
<td>{% if value.tb %} {{ value.tb }} {% else %} 0 {% endif %}</td>
<td>{% if value.bd %} {{ value.bd }} {% else %} 0 {% endif %}</td>
<td>{% if value.birth %} {{ value.birth }} {% else %} 0 {% endif %}</td>
<td>{% if value.death %} {{ value.death }} {% else %} 0 {% endif %}</td>
<td>{% if value.wa %} {{ value.wa }} {% else %} 0 {% endif %}</td>
<td>{% if value.to %} {{ value.to }} {% else %} 0 {% endif %}</td>
</tr>
{% endfor %}