{% for key, value in report.items %}
<tr>
<td>
    {% if value.diff <= 1%}
        {{ key }}
        {% else %}
        <a href="{% if location_id %}../{% endif %}{{ value.location_id }}/">{{ key }}</a>
    {% endif %}
</td>
<td>{% if value.muac %} {{ value.muac }} {% else %} 0 {% endif %}</td>
<td>{% if value.ma %} {{ value.ma }} {% else %} 0 {% endif %}</td>
<td>{% if value.tb %} {{ value.tb }} {% else %} 0 {% endif %}</td>
<td>{% if value.bd %} {{ value.bd }} {% else %} 0 {% endif %}</td>
<td>{% if value.birth %} {{ value.birth }} {% else %} 0 {% endif %}</td>
<td>{% if value.death %} {{ value.death }} {% else %} 0 {% endif %}</td>
<td>{% if value.percentage_safe_water %} {{ value.percentage_safe_water }} {% else %} 0 {% endif %}</td>
<td>{% if value.activeReporters %} {{ value.activeReporters }} {% else %} 0 {% endif %}</td>
<td>{% if value.registeredReporters %} {{ value.registeredReporters }} {% else %} 0 {% endif %}</td>
</tr>
{% endfor %}