{% extends "layout.html" %}
{% load stats_extras %}
{% block stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}cvs/stylesheets/jquery-ui-1.7.3.custom.css" />
 <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}cvs/stylesheets/cvs.css" />
{% endblock %}

{% block javascripts %}
{{ block.super }}
<script type="text/javascript" src="{{ MEDIA_URL }}cvs/javascripts/jquery-ui-1.7.3.custom.min.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript">
</script>
<script type="text/javascript" src="{{ MEDIA_URL }}cvs/javascripts/selectToUiSlider.jquery.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}cvs/javascripts/cvs_map.js"></script>
 <script type="text/javascript" src="{{ MEDIA_URL }}cvs/javascripts/cvs_stats.js"></script>
     <script language="javascript">
    //get the map bounding box
        var map;
        var minLat={{minLat}};
        var maxLat={{maxLat}};
        var minLon={{minLon}};
        var maxLon={{maxLon}};
        var map_layers={{map_layers}};
        base_layer="{{base_layer}}";
        var zoom=9;
        var slider_start_ts;
        var slider_end_ts;
        
        $(document).ready(function() {

            add_layers(map_layers);

});


    </script>
{% endblock %}

{% block content %}
    {% include "cvs/partials/slider.html" %}
    <div id="map">


</div>

    <div id="overlays">

    </div>





{%  endblock  %}