{% load stats_extras %}
{% block stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}cvs/stylesheets/jquery-ui-1.7.3.custom.css" />
 <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}cvs/stylesheets/cvs.css" />
{% endblock %}

{% block javascripts %}
{{ block.super }}
<script type="text/javascript" src="{{ MEDIA_URL }}cvs/javascripts/jquery-ui-1.7.3.custom.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}cvs/javascripts/selectToUiSlider.jquery.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}cvs/javascripts/highcharts.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}cvs/javascripts/cvs_stats.js"></script>
{% endblock %}

{% block content %}
<table width="100%">
{% if top_columns or columns %}
    <thead>
    {% if top_columns %}
        <tr>
        {% for name, link, colspan in top_columns %}
            <th colspan="{{ colspan }}">
                {% if link %}
                    <a href="{{ link }}">
                {% endif %}
                {{ name }}
                {% if link %}
                    </a>
                {% endif %}
            </th>
        {% endfor %}
        </tr>
    {% endif %}
    {% if columns %}
        <tr>
        {% for name, link, colspan, onclick in columns %}
            <th colspan="{{ colspan }}">
                {% if link or onclick %}
                    <a href="{{ link }}" onclick="{{ onclick }}">
                {% endif %}
                {{ name }}
                {% if link %}
                    </a>
                {% endif %}
            </th>
        {% endfor %}
        </tr>
    {% endif %}
    {% if bottom_columns %}
        <tr>
        {% for name, link, colspan in bottom_columns %}
            <th colspan="{{ colspan }}">
                {% if link %}
                    <a href="{{ link }}">
                {% endif %}
                {{ name }}
                {% if link %}
                    </a>
                {% endif %}
            </th>
        {% endfor %}
        </tr>
    {% endif %}
    </thead>
{% endif %}
{% include report_template %}
</table>
    {%if sql_queries %}<div class="footNav">
      <h2>Queries</h2>
      <p>
        {{ sql_queries|length }} Quer{{ sql_queries|pluralize:"y,ies" }}, {{sql_time_sum}} Time
        {% ifnotequal sql_queries|length 0 %}
        (<span style="cursor: pointer;" onclick="var s=document.getElementById('debugQueryTable').style;s.disp\
    lay=s.display=='none'?'':'none';this.innerHTML=this.innerHTML=='Show'?'Hide':'Show';">Show</span>)
        {% endifnotequal %}
      </p>
      <table id="debugQueryTable" style="display: none;">
        <col width="1"></col>
        <col></col>
        <col width="1"></col>
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">SQL</th>
          <th scope="col">Time</th>
        </tr>
        </thead>
        <tbody>
        {% for query in sql_queries %}<tr class="{% cycle odd,even %}">
          <td>{{ forloop.counter }}</td>
          <td>{{ query.sql|escape }}</td>
          <td>{{ query.time }}</td>
        </tr>{% endfor %}
        </tbody>
      </table>

    </div>{%endif %}
    
{% endblock %}
