{% extends "layout.html" %}
{% load stats_extras %}

{% block stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}cvs/stylesheets/jquery-ui-1.7.3.custom.css" />
 <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}cvs/stylesheets/cvs.css" />
{% endblock %}

{% block javascripts %}
{{ block.super }}
<script type="text/javascript" src="{{ MEDIA_URL }}cvs/javascripts/jquery-ui-1.7.3.custom.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}cvs/javascripts/highcharts.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}cvs/javascripts/cvs_stats.js"></script>
{% endblock %}

{% block content %}
    <div class="breadcrumb">
        <span>
            {% if request.path|section != 'stats' %}
                <a href="/cvs/stats/?root=true">Stats Home</a> &raquo;
            {% else %}
                Stats Home &raquo;
            {% endif %}
            {% if request.path|section != 'stats' %}
                {{ request.path|section }} Reports &raquo;
            {% endif %}
        </span>
        {% if location_id|ancestors %}
            {% for ancestor in location_id|ancestors %}
                <a href="/cvs/{{ request.path|section }}/{% if ancestor.pk|parentId %}{{ ancestor.pk|parentId }}/{% else %}?root=true{% endif %}">{{ ancestor|name }}</a> &raquo;
            {% endfor %}
        {% endif %}
        {% if location_id != None %}
            <a href="/cvs/{{ request.path|section }}/{% if location_id|parentId %}{{ location_id|parentId }}/{% else %}?root=true{% endif %}">{{ location_id|parent|name }}</a>
        {% else %}
            Uganda
        {% endif %}
    </div>
<form id="date_range_form" method="POST">
{% csrf_token %}
<p>Date Range:<span id="date_slider_value" class="daterange">From {{ start_date|date:"Y-m-d" }} to {{ end_date|date:"Y-m-d" }}</span>
<a href="javascript:void(0)" onclick="document.forms[0].submit()" style="float:right">update</a>
{{ date_range_form }}
<div id="date_slider" style="margin: 5px 5px 20px 5px"></div>
<script language="javascript">
    $( "#date_slider" ).slider({
        range: true,
        min: {{ min_ts }},
        max: {{ max_ts }},
        step: 1,
        values: [{{ start_ts }}, {{ end_ts }}],
        slide: function(event, ui) {
            start_date = new Date(ui.values[0]);
            start_str = start_date.getDate() + "-" + (start_date.getMonth() + 1) + "-" + start_date.getFullYear();
            end_date = new Date(ui.values[1]);
            end_str = end_date.getDate() + "-" + (end_date.getMonth() + 1) + "-" + end_date.getFullYear();
            $('#id_start_ts').val('' + ui.values[0]);
            $('#id_end_ts').val('' + ui.values[1]);
            $( "#date_slider_value" ).text( "From " + start_str + " to " + end_str );
        }
    });
    start_date = new Date({{ start_ts }});
    start_str = start_date.getDate() + "-" + (start_date.getMonth() + 1) + "-" + start_date.getFullYear();
    end_date = new Date({{ end_ts }});
    end_str = end_date.getDate() + "-" + (end_date.getMonth() + 1) + "-" + end_date.getFullYear();
    $('#id_start_ts').val('' + {{ start_ts }});
    $('#id_end_ts').val('' + {{ end_ts }});    
    $( "#date_slider_value" ).text( "From " + start_str +
        " to " + end_str );
</script>
<table width="100%">
{% if top_columns or columns %}
    <thead>
    {% if top_columns %}    
        <tr>
        {% for name, link, colspan in top_columns %}
            <th colspan="{{ colspan }}">
                {% if link %}
                    <a href="{{ link }}">
                {% endif %}
                {{ name }}
                {% if link %}
                    </a>
                {% endif %}
            </th>
        {% endfor %}
        </tr>
    {% endif %}
    {% if columns %}
        <tr>
        {% for name, link, colspan, onclick in columns %}
            <th colspan="{{ colspan }}">
                {% if link or onclick %}
                    <a href="{{ link }}" onclick="{{ onclick }}">
                {% endif %}
                {{ name }}
                {% if link %}
                    </a>
                {% endif %}
            </th>
        {% endfor %}
        </tr>
    {% endif %}
    {% if bottom_columns %}
        <tr>
        {% for name, link, colspan in bottom_columns %}
            <th colspan="{{ colspan }}">
                {% if link %}
                    <a href="{{ link }}">
                {% endif %}
                {{ name }}
                {% if link %}
                    </a>
                {% endif %}
            </th>
        {% endfor %}
        </tr>
    {% endif %}
    </thead>
{% endif %}
{% include report_template %}
</table>
{% if data %}
<div id="chart_container">
    {% include "cvs/partials/chart.html" %}
</div>
</form>
{% endif %}
{% endblock %}
