{% extends "layout.html" %}

{% block content %}
<table>
<tr>
<td>Location</td>
<td>New Malnutrition Cases</td>
<td>Total Malaria</td>
<td>Tb</td>
<td>Bloody Diarrhea</td>
<td>New Births</td>
<td>Deaths</td>
<td>Houses with handwashing facilities</td>
<td>Total Houses visited</td>
</tr>
{% for key, value in report.items %}
<tr>
<td>{{ key }}</td>
<td>{{ value.muac }}</td>
<td>{{ value.ma }}</td>
<td>{{ value.tb }}</td>
<td>{{ value.bd }}</td>
<td>{{ value.birth }}</td>
<td>{{ value.death }}</td>
<td>{{ value.wa }}</td>
<td>{{ value.to }}</td>
</tr>
{% endfor %}
</table>


{% endblock %}