{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ MEDIA_URL }}cvs/javascripts/highcharts.js"></script>
<table>

{% if top_columns or columns %}
    <thead>
    {% if top_columns %}    
        <tr>
        {% for name, link, colspan in top_columns %}
            <td colspan="{{ colspan }}">
                {% if link %}
                    <a href="{{ link }}">
                {% endif %}
                {{ name }}
                {% if link %}
                    </a>
                {% endif %}
            </td>
        {% endfor %}
        </tr>
    {% endif %}
    {% if columns %}
        <tr>
        {% for name, link, colspan, onclick in columns %}
            <td colspan="{{ colspan }}">
                {% if link or onclick %}
                    <a href="{{ link }}" onclick="{{ onclick }}">
                {% endif %}
                {{ name }}
                {% if link %}
                    </a>
                {% endif %}
            </td>
        {% endfor %}
        </tr>
    {% endif %}
    </thead>
{% endif %}
{% include report_template %}
</table>
<div id="chart_container">
    {% include "cvs/partials/chart.html" %}
</div>
{% endblock %}
