{% extends "generic/base.html" %}
{% block title %}
    Submissions - {{ block.super }}
{% endblock %}
{% block stylesheets %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms_xforms/stylesheets/style.css" />
{% endblock %}
{% block content %}
<div class="buttons">
  <a href="/xforms/{{ form.pk }}/submissions.csv">
    <img src="{{ MEDIA_URL }}rapidsms_xforms/icons/silk/table_save.png" alt=""/> Export
  </a>
  <br/>
</div>
{{ block.super }}
{% endblock %}

